

<h2 class="title">Customers List</h2>
<button mat-raised-button color="primary">
  New Customer
</button>

<div class="filter-container">
  <mat-form-field>
    <mat-label>Filter by Last Name</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Example: Doe" />
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>
container>

  <!-- First Name Column -->
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>First name</mat-header-cell>
    <mat-cell *matCellDef="let customer">{{ customer.firstName }}</mat-cell>
  </ng-container>

  <!-- Last Name column -->
  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
    <mat-cell *matCellDef="let customer"> {{ customer.lastName }} </mat-cell>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
    <mat-cell *matCellDef="let customer"> {{ customer.email }} </mat-cell>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
    <mat-cell *matCellDef="let customer"> {{ customer.phone }} </mat-cell>
  </ng-container>

  <!-- Status Column -->
   <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
    <mat-cell *matCellDef="let customer">
       <span *ngIf="customer.status == 'active'" class="status-active">{{ customer.status }}</span>
       <span *ngIf="customer.status == 'inactive'" class="status-inactive">{{ customer.status }}</span>
       <span *ngIf="customer.status == 'pending'" class="status-inactive">{{ customer.status }}</span>
    </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let customer">
      <button mat-icon-button color="primary" (click)="OnDialogCustomerEdit(customer)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displatedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displatedColumns;"></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>

