mat-form-field {
  width: 100%;
}

button {
  margin-right: 10px;
}

mat-dialog-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;

  margin-top: 1em;
}

.text-right {
  text-align: right;
}
